<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student/Faculty/Admin Login</title>
    <link rel="Stylesheet" href="login1.css">
</head>
<body>
    <div class="container">
        <img src="logo.png" alt="IIT Tirupati Logo">
        <hr>
        <h3>Welcome to IIT Tirupati E-Governance</h3>
        <hr>
        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary" onClick="onClickStaff()">Student Login</button>
            <button type="button" class="btn btn-outline-primary" onClick="onClickStaff()">Faculty Login</button>
            <button type="button" class="btn btn-outline-primary" onClick="onClickStaff()">Admin Login</button>
            <!-- <button class="button" onClick="onClickStudent()">Student Login</button> -->
            <!-- <button class="button" onClick="onClickStaff()">Faculty Login</button>
            <button class="button" onClick="onClickAdmin()">Admin Login</button> -->
        </div>
    </div>
    <script src="login1.js" type="text/javascript"></script>
</body>
</html>