<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="Stylesheet" href="home.css">

</head>

<body>
    <div class="header">
        <p>Admin</p>
        <p style="float:right">[->Logout</p>
    </div>
    <p>

    </p>
    <div class="arrange">
        <div class="box1">
            <div style="width:300px;float:left;">
                <div class="box">
                    <p>Projects</p>
                    <hr style="width:298px;height:0px;color: #d9d9d9">
                    <p>

                    </p>
                    <button type="button">Ongoing</button>
                    <p>

                    </p>
                    <button type="button">completed</button>
                </div>
            </div>
            <div style="width:300px;float:right">
                <div class="box">
                    <p>Funds</p>
                    <hr style="width:298px;height:0px;color: #d9d9d9">
                    <p>

                    </p>
                    <button type="button">Sanction funds</button>
                    <p>

                    </p>
                    <button type="button">Additional funds</button>
                </div>
            </div>
        </div>
        <div class="space"></div>
        <div style="width:800px" ,class="box2">
            <div style="width:300px;float:left;">
                <div class="box">
                    <p>Duration Extension</p>
                    <hr style="width:298px;height:0px;color: #d9d9d9">
                    <p>

                    </p>
                    <button type="button">Internal Projects</button>
                    <p>

                    </p>
                    <button type="button">External Projects</button>
                </div>
            </div>
            <div style="width:300px;float:right">
                <div class="box">
                    <p>Approve Recruitment</p>
                    <hr style="width:298px;height:0px;color: #d9d9d9">
                    <p>

                    </p>
                    <button type=" button">Staff</button>
                    <p>

                    </p>
                    <button type="button">Adhoc</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>