#taxCalc
{
  align-items: center;
  margin-top: 5%;
  /* background-color: ; */
}
.lab
{
  display: grid;
}
.forbutt
{
  /* border:none; */
  border-radius: 3%;
  margin-top: 7%;
}
.h1
{
  margin-bottom: 3%;
}