<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Staff/Student Home</title>
    <link rel="Stylesheet" href="home.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="">Username</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="">Workshops/Seminars/Lectures</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Awards/Recognitions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Research Collaborations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Journal/Conferences</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Books/Chapters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Projects Guided</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Projects/Consultancy</a>
            </li>
          </ul>
          </div>
        </div>
      </nav>
    <div class="grid-container">
    <div>
        <div class="container-box">
            <h4>Join Project</h4>
            <hr>
            <div class="">
                <button class="button">Sponsered/Consultancy Project</button>
                <button class="button">Internal Project</button>
            </div>
        </div>
    </div>
    <div>
        <div class="container-box">
                <h4>Projects</h4>
                <hr>
                <div class="">
                    <button class="btn-staff">Ongoing</button>
                    <button class="button">Completed</button>
                </div>
            </div>
        </div>
    </div>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>