*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards .btn {
  color: black;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 2px solid black;
  background: transparent;
}

.cards .btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.application_text{
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.application_text items_p{
  width: 100% !important;
  margin: 0;
}

.application_text .application_items{
  flex: 1 1 ;
}
@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.details p{
  align-items: center;
  text-align: left;
  width: 90%;
}
.head_content{
  font-weight: bolder;
	margin-right: 8%;
	padding-left: 6px;
  display: inline-block;
 
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: black;
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
  text-align: left;
}

#head_text{
  text-align: left;
  margin-left: 5%;
  font-weight: bolder;
  width: 100%;
  margin-bottom: 0;
}

.head_wrap{
	display: flex;
	align-items: center;
	cursor: pointer;
  margin-bottom: 2.5rem;
}

.student_box{
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  background-color: white;
  width: 25rem;
  height: 20rem;
  float: right;
  position: relative;
  left: 6rem;
  bottom:17rem;
    text-align: left;
}
.student_li{
  margin-bottom: 3.5rem;
}
.list_head{
  font-size: 2.5rem;
  font-weight: bold;
  border-bottom: 3px #272727;
}

.li_text{
  margin-bottom: 0;
  margin-left: 4%;
}
.student_link{
  color: black;
  text-decoration: none;
}
.student_link:hover{
  color: black;
  text-decoration: none;
}

.arrow{
  margin-left: 2.5rem;
}


