*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 0rem;
  /* overflow:scroll; */
  overflow: visible;
  overflow-x: hidden;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards .btn {
  color: black;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 2px solid black;
  background: transparent;
  margin: auto ;
}

.cards .btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.application_text{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1em;

}
.application_text .items_p{
  width: 100% !important;
  margin: 0;
  font-weight: 600;
}

.details p{
  align-items: center;
  text-align: left;
  width: 90%;
}
.head_content{
  font-weight: bolder;
	margin-right: 8%;
	padding-left: 6px;
  display: inline-block;
 
}
.card_student {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 450px;
}

.card_content {
  padding: 1rem;
  
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: black;
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
  text-align: left;
}

#head_text{
  text-align: left;
  margin-left: 5%;
  font-weight: bolder;
  width: 100%;
  margin-bottom: 0;
}

.head_wrap{
	display: flex;
	align-items: center;
	cursor: pointer;
  margin-left: 1.3rem;
  margin-bottom: 2.5rem;
}

.click_collapse .main_container .head_wrap{
    margin-left: 3rem;
}

.student_box{
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  background-color: white;
  width: 25rem;
  height: 20rem;
  text-align: left;
}
.student_li{
  margin-bottom: 3.5rem;
}
.list_head{
  font-size: 2.5rem;
  font-weight: bold;
  border-bottom: 3px #272727;
}

.li_text{
  margin-bottom: 0;
  margin-left: 4%;
}
.student_link{
  color: black;
  text-decoration: none;
}
.student_link:hover{
  color: black;
  text-decoration: none;
}

.arrow{
  margin-left: 2.5rem;
}


.top_content{
  display: flex;
 /* grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 45em;*/
  justify-content: space-between;
}

.header_text{
  display: flex;
  justify-content: space-between;
}

.home_text{
  margin-top: 2rem;
}

.home_btn,.apply_btn{
  border: 0;
  background-color: #ffffff;
}
.apply_btn{
  border: #272727;
  border-style: solid;
  border-width:0.9px;
  outline: none;
  border-radius: 4px;
  padding: 5px;
  box-sizing: border-box;
}

.apply_btn:hover{
    cursor: pointer;
    background-color: #272727;
    color: white;
}

.container{
  padding-left: 0;
}

.remove_content{
  display: none;
}
@media screen and (max-width:540px) {
  .student_content{
    margin-left: 0;
}

.student_box{
  display:none;
}
}





@media screen and (max-width:1099px) {
  .cards_item{
    padding-left:2rem;
  }
  .cards{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .click_collapse .main_container .cards{
    display: flex;
    align-items: center;
    flex-direction: column;
  } 
  
}

@media  screen and (max-width:750px) {
  .cards{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .card_student{
    width: 35rem;
  }
  .click_collapse .main_container .card_student{
    width: 32rem;
  }
}

@media  screen and (max-width:600px) {
  .cards{
        display: flex;
    align-items: center;
    flex-direction: column;
  }
  .card_student{
    width: 35rem;
  }
}

/*@media screen and (max-width:1100px) {
  .click_collapse .student_content{
    margin-left: 2rem;
}
}*/