<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pending Projects</title>
    <link rel="Stylesheet" href="pending.css">

</head>

<body>
    <div class="header">
        <p style=>Pending Projects</p>
        <p style="float:right">UserName</p>
    </div>

    <p>

    </p>
    <form>
        <div class="container">
            <p>Project ID/Name:</p>
            <div class="space"></div>
            <input type="text" placeholder="search...." name="search">
        </div>
    </form>

    <p>

    </p>


    <table>
        <tr>
            <th>Project Id</th>
            <th>Project Name</th>
            <th>Project Type</th>
            <th>Description</th>
        </tr>
        <!--<tr>
            <td>1</td>
            <td>Project1</td>
            <td>internal</td>
            <td>first</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Project2</td>
            <td>external</td>
            <td>second</td>
        </tr>-->

    </table>


</body>

</html>