.card {
    margin: 3rem 3rem 3rem 3rem;
    padding: 1.5rem;
    width: 500px;
    box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0, 1);
    transition: transform .3s ease;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card_title {
    font-weight: 800;
    font-size: 1.5rem;
}

.leftheader {
    float: left;
    font-family: "Gilmer",sans-serif;
    text-transform: uppercase;
    padding: 0 12px;
    height: max-content;
    line-height: 28px;
    letter-spacing: 1px;
    display: inline-flex;
    border-radius: 14px;
    color: white;
    font-weight: 100;
    background-color: #438af5 ;
    font-size:xx-small;
}

.rightheader {
    float: right;
    font-family: "Gilmer",sans-serif;
    color: white;
    text-transform: uppercase;
    padding: 0 12px;
    height: max-content;
    line-height: 28px;
    letter-spacing: 1px;
    display: inline-flex;
    border-radius: 14px;
    background-color: #438af5 ;
    font-size:xx-small;
}
.header{
}

.subtitle {
    margin-top: 2rem;
    text-align: left;
    color: black;
}

.card_body {
    text-align: left;
}
.option1 { 
    display: inline-block; 
    padding-right: 20%; 
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
  }
  .text-muted
  {
    color: black;
    font-weight: 300;
  }
  .list-group
  {
    padding-top: 8%;
    text-align: left;
  }
  .list-group-item
  {
  font-size: 1.3rem;
  display: inline-flex;
  }
  .butt{
    float: right;
    background-color:#438af5 ;
  }
  .card_body
  {
    text-align: center;
    font-size: 1.5rem;
  }