<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ongoing Projects</title>
    <link rel="Stylesheet" href="ongoing.css">
</head>
<body>
    <div class="search">
        <form action="#">
            <div class="container">
                <p>Project ID/Project Name :</p>
                <input type="text" placeholder="  Search Project ID" name="search">
                <button>
                    <i class="fa fa-search" style="font-size: 18px;"></i>
                </button>
            </div>
            <!-- <div class="container">
                <p>Project Name</p>
                <input type="text" placeholder="  Search Project Name" name="search">
                <button>
                    <i class="fa fa-search" style="font-size: 18px;"></i>
                </button>
            </div> -->
        </form>
    </div>
    <div style="width: 100%">
        <table>
            <caption><h2>ONGOING PROJECTS</h2></caption>
            <tr style="height: 60px; font-weight: bold;">
                <th style="width: 18%;">Project Id</th>
                <th style="width: 32%">Project Name</th>
                <th style="width: 22%">Project Type</th>
                <th style="width: 34%">Small Description</th>
                <th style="width: 50%">Completion Status</th>
            </tr>
        </table>
    </div>
</body>
</html>