@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

*{
	font-family: 'Poppins', Arial;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body{
    text-align: center;
	background: #f5f5f5;
    font-weight: 400;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-group_login2 button {
    cursor: pointer;
}

.container_login2 {
    box-sizing: border-box;
    width: 35rem;
    height: 35rem;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    padding: 16px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.form-group_login2 a,
label {
    display: flex;
}

.login2-form {
    text-align: center;
    align-items: center;
    align-self: center;
    margin: auto;
    margin-top: 10px;

}

.container_login2 .form-group_login2 input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 20px;
    margin: 5px auto 10px auto;
    display: inline-block;
    border: none;
    background: #f2f2f2;
    opacity: 0.8;
    border-radius: 4px;
    border: #f2f2f2;
}

.container_login2 .form-group_login2 input[type='text']:focus,
input[type='password']:focus {
    opacity: 1;
    border: #f2f2f2;
    outline: none;
}
    
.container_login2 h3,
a {
    color: #3876D0;
}
    
.container_login2 a {
    text-align: right;
    margin-left: 140%;
    margin-top: 10%;
    font-size: 100%;
}
    
.container_login2 button {
    margin-bottom: auto;
    text-align: center;
    align-items: center;
    margin-top: 46px;
    margin-right: 11%;
    width: 25rem;
    height: 40px;
    background-color: #3876D0;
    color: #FFFFFF;
    border-radius: 6px;
    border-color: #3876D0;
    outline: none;
    font-size: 17px;
    float: center;
}

.container_login2 img {
    width: 105px;
    height: 70px;
    left: 50%;
    top: 50%;
}

@media screen and (max-width:600px) {

    .container_login2 {
        width: 25rem;
        height: 30rem;
    }
    .container_login2 button{
        margin-top: 2%;
        width: 17rem;
    }
}