<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student/Faculty/Admin Login</title>
    <link rel="Stylesheet" href="login2.css">
</head>
<body>
    <section>
        <div class="container_login2">
            <img src="logo.png" alt="IIT Tirupati Logo">
            <h3 class="text-center">Student Login</h3>
            <form action="#" class="login-form_login2">
                <div class="form-group_login2">
                    <input type="text" class="form-control rounded-left" placeholder="Username" required>
                    
                </div>
                <div class="form-group_login2">
                    <input type="password" class="form-control rounded-left" placeholder="Password" required>
                </div>
                <div class="form-group_login2">
                    <div class="w-50">
                        <a href="#">Forgot Password</a>
                    </div>
                </div>
                <div class="form-group_login2">
                    <button type="submit" class="btn btn-primary rounded submit p-3 px-5" onClick="location.href='../Staff/home.html'"> Login </button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>