<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SRC</title>
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<link rel="stylesheet" href="home.css">
</head>
<body>

<div class="wrapper hover_collapse">
	<div class="top_navbar">
    <div class="menu_icon">
				<i class="fas fa-bars"></i>
		</div>
		<div class="logo"><img src="logo.png" width="20px" height="20px" alt="profile_pic" style="
    height: 40px; width: 60px;">
    <span id="year">Acad year</span>
    </div>
		<div class="menu">
			<div class="profile_wrap">
				<div class="profile">
					<img  src="user.png" width="20px" height="20px" alt="profile_pic">
					<span class="name">User Name</span>
					<span class="icon">
						<i class="fas fa-angle-down"></i>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="sidebar">
		<div class="sidebar_inner">
		<ul>
      <li>
				<a href="#">
					<span class="icon"></span>
					<span class="text">Create Project</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon"><i style='font-size:24px' class='fas'>&#xf542;</i></span>
					<span class="text">Projects & Consultancy</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon"><i class="fa-solid fa-users"></i></span>
					<span class="text">Recruitment</span>
				</a>
			</li>
		</ul>
		</div>
	</div>

	<div class="main_container">
		<div class="container">
			<div class="content">
				WELCOME ! USERNAME
			</div>
		</div>
	</div>
</div>

<script src="home.js"></script>
</body>
</html>