<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Home</title>
    <style>
        .container{
        text-align: center;
    }
        .button{
            position:absolute;
            top:50;
            margin-right: 4px;
        }
        .space{
            width: 4px;
            height: auto;
            display: inline-block
        }
    </style>
</head>
<body>
    <div class = "container">
        <button type="button" onClick="onClickProject()">Create Project</button>
    </div>
    <div class = "space"></div>
    <div class = "container">
        <button type="button">Ongoing Projects</button>
    </div>
    <div class = "space"></div>
    <div class = "container">
        <button type="button">Completed Projects</button>
    </div>
    <div class = "space"></div>
    <div class = "container">
        <button type="button">Pending Projects</button>
    </div>
    <div class = "space"></div>
    <div class = "container">
        <button type="button">Drafts</button>
    </div>
    <div class = "space"></div>
    <div class = "container">
        <button type="button">Staff Recruitment</button>
    </div>
    <div class = "space"></div>
    <div class = "container">
        <button type="button">Adhoc Recruitment</button>
    </div>

    <script src="home.js" type="text/javascript"></script>
</body>
</html>