@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    background-color: #dbe1eb;
    	font-family: 'Poppins', Arial;
    font-style: normal;
    font-weight: 400;
}

.first-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin: auto;
}
.second-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin: auto;
}
.third-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin: auto;
}
.btn button{
    width: 100%;
    max-width: 100px;
    height: 5vh;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #3876D0;
    color: white;
}
input{
    width: 20rem;
    background-color: white;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    height: 4vh;
    opacity: 0.8;
}
input:focus{
    border:1px solid #FFFFFF;
    outline: none;
    opacity: 1;
}

#ag-code,#og-type,#ag-name{
    width: 20rem;
    background-color: white;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    height: 4vh;
    opacity: 0.8;
}

#ag-code,
#og-type,
#ag-name:focus{
    opacity: 1;
}

@media screen and (max-width:1200px){
    .first-row,.second-row,.third-row{
        flex-direction: column;
    }
    *{
        text-align: center;
    }
    
    input,#ag-code,
    #og-type,
    #ag-name{
        width: 10rem;
    }
    
}