<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Recruitment</title>
    <link rel="Stylesheet" href="staff.css">

</head>

<body>
    <div class="header">
        <p>Staff Recruitment</p>
        <p style="float:right">UserName</p>
    </div>
    <p>

    </p>
    <form>
        <div class="container">
            <p>Project ID/Name:</p>
            <div class="space"></div>
            <input type="text" placeholder="search...." name="search">
        </div>
    </form>
    <p>

    </p>
    <table>
        <tr>
            <th>Project Id</th>
            <th>Project Name</th>
            <th>Project Type</th>
            <th>No.of Staff</th>
        </tr>

    </table>
</body>

</html>